.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-group {
  margin: 0 auto;
  max-width: 500px;
}
.start-btn {
  margin: 0 auto;
  max-width: 500px;
  font-size: 24px;
  background-color: $friend-color;
  color: $light-color;
  box-shadow: rgb(141 103 2) 0px -8px 40px -3px;
}

.room-settings-container {
  display: flex;
  flex-direction: column;
}
.room-section {
  display: flex;
  justify-content: space-around;
}
.avatar-container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.avatar {
  animation: vibrate-1 0.3s linear infinite both;
}

.avatars {
  display: grid;
  grid-template: 1fr 4fr 1fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "A B C"
    "D D D";
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: center;
  padding: 30px 0px;
  overflow: hidden;

  @media (max-width: 767.98px) {
    grid-template-areas:
      "B B B"
      "D D D"
      "D D D";
    grid-template-rows: 3fr 1fr 1fr;
    padding: 10px 0px;
  }
}
.arrow-left-cont {
  grid-area: A;
  color: white;
  cursor: pointer;
}
.avatars_galery {
  grid-area: D;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-width: 150px;
  justify-content: space-around;
}

.arrow-right-cont {
  grid-area: C;
  color: white;
}
.avatars_main {
  display: flex;
  justify-content: center;
  grid-area: B;
}
.avatar_thumb {
  width: 50px;
  cursor: pointer;
  max-width: 80px;
  flex: 1 0 30%;
}
.timer-container {
  border: $friend-color solid 1px;
  border-radius: 5px;
}

.start-content {
  margin-top: 50px;
}
