
.description {
  background-color: #04524c;
  border-radius: 10% 30% 50% 70%;
  padding-left: 30px;
  color: $light-color;
  width: 400px;
  height: 200px;
}

.start-btn{
  background-color: $friend-color;
  color: $light-color;
  box-shadow: rgb(141 103 2) 0px -8px 40px -3px;
}