<div class="game__container">
  <div class="game__header">
    <div class="game__word">Word you need to guess </div>
    <div class="game__timer">Time left {n}</div>
  </div>
  <div class="canvas-outer">
    <canvas class="canvas-inner" width="400" height="400"></canvas>
    <br>
    <canvas class="canvas-inner" width="400" height="400"></canvas>
  </div>
  <section class="game__toolbar">
    <div class="toolbar__body">
      <div class="toolbar__tools">
        <input type="color" class="toolbar__color-all" id="color-input" value="#563d7c" title="Choose your color">
        <input type="range" class="toolbar__line-width" min="1" max="71" step="5" value="11" id="line-width">
        <div class="toolbar__clear t-button"></div>
        <div class="toolbar__undo t-button"></div>
        <div class="toolbar__save t-button"></div>
        <div class="toolbar__download t-button"></div>
        <input type="button" value="Paste saved" class="toolbar__info t-button">
      </div>

    </div>
  </section>
</div>