.room-flex {
  display: grid;
  grid-template-columns: 20% auto 30%;
  gap: 1em;
}

.canvas {
  background-color: lightblue;
  width: 100%;
  border-radius: 1em;
}
.user-list {
  display: flex;
  flex-direction: column;
}
.user {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 15px;
  background-color: $friend-color;
  box-shadow: rgb(141 103 2) 0px -8px 40px -3px;
}
.chat {
  background-color: lightgray;
  border-radius: 10px;
  width: 100%;
}
.timer-count {
  color: $contrast-color;
  font-size: 1.3rem;
}

.timer-container,
.round-container {
  display: flex;
  gap: 15px;
}
.round-container {
  color: $friend-color;
}
.thumb-timer {
  height: 30px;
}

.current-score{
  color: $friend-color;
  size: 1.5rem;
  border-radius: 5px;
  border: 1px solid $contrast-color;
}
.roundResultsContent{
  background-color: $background-color;
}

.roundResultsDialog {
  box-shadow: 10px 0px 34px 7px $contrast-color, -8px 12px 45px 9px $friend-color;
  color: $contrast-color;
}
