.room-flex {
  display: grid;
  grid-template-columns: 20% auto 30%;
  gap: 1em;
}

.canvas {
  background-color: lightblue;
  width: 100%;
  max-width: 500px;
  border-radius: 1em;
}
#line-width {
  width: 100%;
  max-width: 110px;
}

.game {
  &__container {
  }

  &__header {
    width: calc(100% - 50px);
    max-width: 500px;
    display: flex;
    justify-content: space-between;
  }

  &__word {
  }

  &__timer {
  }

  &__toolbar {
  }
}
.canvas-outer {
  position: relative;
  display: flex;
  flex-grow: 1;
  max-width: 500px;
}
.border {
}
.border-info {
}
.canvas-inner {
  background-color: #fff;
  object-fit: contain;
  box-shadow: 2px 2px 12px 4px rgba(34, 60, 80, 0.51);
  touch-action: none;
  border-radius: 7px;
  display: block;
}
// !
.canvas-others {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
// !
.canvas-others.show {
  z-index: 1;
  cursor: grab;
}
.toolbar {
  &__body {
  }

  &__tools {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__clear,
  &__undo,
  &__save,
  &__download {
    height: 35px;
    width: 35px;
    background-size: cover;
  }
  &__clear {
    background-image: url("./../asssets/discard.svg");
  }
  &__undo {
    background-image: url("./../asssets/forward.svg");
  }
  &__save {
    background-image: url("./../asssets/save.svg");
  }
  &__download {
    background-image: url("./../asssets/download.svg");
  }
  &__info {
  }
}
#color-input {
  // background-image: url("./../asssets/color-picker.svg");
  background-image: url("./../asssets/rgb-colors.svg");
  height: 30px;
  width: 30px;
  background-size: cover;
  background-color: transparent;
  padding: 20px;
}
.form-control {
}
.form-control-color {
}
.form-range {
}
.t-button {
  cursor: pointer;
}

.user-list {
  display: flex;
  flex-direction: column;
}
.user {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 15px;
  background-color: $friend-color;
  box-shadow: rgb(141 103 2) 0px -8px 40px -3px;
}
.chat {
  background-color: lightgray;
  border-radius: 10px;
  width: 100%;
}
.timer-count {
  color: $contrast-color;
  font-size: 1.3rem;
}

.timer-container,
.round-container {
  display: flex;
  gap: 15px;
}
.round-container {
  color: $friend-color;
}
.thumb-timer {
  height: 30px;
}

.current-score {
  color: $friend-color;
  size: 1.5rem;
  border-radius: 5px;
  border: 1px solid $contrast-color;
}
.roundResultsContent {
  background-color: $background-color;
}

.roundResultsDialog {
  box-shadow: 10px 0px 34px 7px $contrast-color, -8px 12px 45px 9px $friend-color;
  color: $contrast-color;
}
